# APEX Fix & Boot Guardian Configuration
# Created by @szucsy92 & @A1X31

service apex_check /system/bin/apex_check.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:su:s0

service boot_guardian /system/bin/boot_guardian.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:su:s0

service success_reset /system/bin/apex_reset.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:su:s0

on post-fs-data
    # Start checking and counting at the beginning of the boot process
    start apex_check
    start boot_guardian

on property:sys.boot_completed=1
    # Reset the counter only after the system is fully loaded and stable
    start success_reset
