# KSU Injector Config
# Created by @szucsy92 & @A1X31
on post-fs-data
    # Start the service
    start ksu_init_sh

service ksu_init_sh /system/bin/sh /system/bin/ksu_init.sh
    user root
    group root
    seclabel u:r:su:s0
    oneshot
    disabled